<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>KodB</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>KodB_1</h1>
<h3>#1 App!</h3>
<form action="/login" method="post">
<label>USERNAME : </label>
<input type="text" name="username">
<br><br>

<label>Password : </label>
<input type="password" name="password">
<br><br>

<input type="submit" value="LOGIN">
<hr>
<a href="/openResetPassword" >Forgot password?</a><br>
<a href="/openSignUp">Create new account</a>
</form>
</body>
</html>