<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>KodB Sign up</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>KodB_1</h1>
<h3>Create Account</h3>
<form action="/SignUp" method="post">
<label>USERNAME : </label>
<input type="text" name="username">
<br><br>

<label>EMAIL : </label>
<input type="email" name="email">
<br><br>


<label>Password : </label>
<input type="password" name="password">
<br><br>

<label>DOB : </label>
<input type="date" name="dob">
<br><br>

<label>GENDER : </label>
<label>M</label><input type="radio" name="gender" value="M">
<label>F</label><input type="radio" name="gender" value="F">
<label>O</label><input type="radio" name="gender" value="O">
<br><br>

<input type="submit" value="SIGN UP">
<hr>

<a href="/">Already have a account</a>
</form>
</body>
</html>